
:root {
	--pink: #FFC9DC;
	--zalm: #FFC9DC;
    --l-pink: #FFECED;
    --blue: #ACD6FC; 
    --purple: #8F93DF; 
    --red: #FF7394; 
}

* {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
   margin-left: 2em;
   margin-right: 2em;
    background-color: var(--l-pink);
}

@media (max-width: 768px) {
body {
    margin: 0;
}
}